.header{
    width: 97%;
    height: 8.4vh;
    background-image: linear-gradient(rgba(149, 125, 205, 1),rgba(82, 61, 127, 1)) ;
    border-radius: 15px;
    margin-left: 2vb;
   
    color:white;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display:table-cell;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
    align-items: center;
}


nav ul li:hover{
    text-decoration: underline;
    cursor:pointer;
    transition: 2s;
    font-size:1.08em;
}