.listAll{
    margin-left: 4vb;
    color: white;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    color: white;
    width: 20%;
    margin-bottom: 20px;
    min-width: 300px;
}
.searchBar img{
    width: 70%;
    margin-left: 5px;

}

input{
    width: 90%;
    height: 6.4vh;
    max-height: 50px;
    border-radius: 15px;
    border:none;
    padding-left: 1em;
    background: none;
    color:white;
    background-image: linear-gradient(rgba(149, 125, 205, 0.5),rgba(82, 61, 127,  0.5));
    
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 



.pageAndButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageAndButtons button{
    background: none;
    border:none;
    color: white;
    font-style:bold;
    font-size: larger ;
}

.pageAndButtons button:hover{
    cursor: pointer;
     transform: scale(1.1);
}

.fade-in {
    animation: fadeIn 4s ease; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
