.footer{
    width: 97%;
    height: 8vh;
    background-image: linear-gradient(rgba(149, 125, 205, 1),rgba(82, 61, 127, 1)) ;
    border-radius: 15px;
    margin-left: 2vb;
   
    color:white;
    font-size:medium;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 3%;
    margin-left: 1%;
}