<section class="actualDayComponent">
    <div class="title">
        <h1>{{verifyifCityExistReturnsTitle()}}</h1>
    </div>
    <div class="searchBarComponent">
        <app-search-bar (actualDay)="receberDiaAtual($event)" ></app-search-bar>
    </div>
    <div class="actualDaybox">
        <div class="weatherImgAndTemperature">
            <img class="weatherImg"src={{changeWeatherIcon()}}>
            <div class="minAndMaxTemperature">
                <h1>{{todayMeteorologicalData.maxTemperature}}ª</h1>
                <h3>/</h3>
                <h2>{{todayMeteorologicalData.minTemperature}}ª</h2>
            </div>
        </div>
        <div class="weatherStatitics">
            <div class="precipitation">
                <img src="assets/weatherIcons/weatherStatitics/umbrella.svg">
                <a>{{todayMeteorologicalData.precipitation}}%</a>
                <a>Precipitação</a>
            </div>
            <div class="humidity">
                <img src="assets/weatherIcons/weatherStatitics/gotaAgua.svg">
                <a>{{todayMeteorologicalData.humidity}}%</a>
                <a>Humidade</a>
            </div>
            <div class="windSpeed">
                <img src="assets/weatherIcons/weatherStatitics/vento.svg">
                <a> {{todayMeteorologicalData.windSpeed}}km/h </a>
                <a> Velocidade do vento </a>
            </div>
        </div>
    </div>

</section>