<section class="actualDayComponent">
    <div class="title">
        <h1>Hoje</h1>
    </div>
    <div class="searchBarComponent">
        <app-search-bar></app-search-bar>
    </div>
    <div class="actualDaybox">
        <div class="weatherImgAndTemperature">
            <img class="weatherImg"src="/assets/weatherIcons/search.png">
            <div class="minAndMaxTemperature">
                <h1>23ª</h1>
                <h3>/</h3>
                <h2>17ª</h2>
            </div>
        </div>
        <div class="weatherStatitics">
            <div class="precipitation">
                <img src="assets/weatherIcons/weatherStatitics/umbrella.svg">
                <a>17%</a>
                <a>Precipitação</a>
            </div>
            <div class="humidity">
                <img src="assets/weatherIcons/weatherStatitics/gotaAgua.svg">
                <a>18%</a>
                <a>Humidade</a>
            </div>
            <div class="windSpeed">
                <img src="assets/weatherIcons/weatherStatitics/vento.svg">
                <a> 10km/h </a>
                <a> Velocidade do vento </a>
            </div>
        </div>
    </div>

</section>