<section>
    <h3>Pesquise a cidade 
        <div class="locationAndSearchBar" >
            <div class="searchIconAndBar">
                <i (click)="search()" class="searchIcon"></i>
                <input
                class="searchBar"
                type="search"
                placeholder="Digite o nome da Cidade"
                [(ngModel)]="cityName"
                (keyup.enter)="search()"
                (keyup)="search()"
                >
            </div>
            <div class=iconLocation>
                <img [ngClass]="setIconLocation()" src="/assets/location.svg">
            </div>
        </div>
    </h3>
    <div class="mensagem__erro" *ngIf="errorWasThrown && !errorSevenDays">
        Cidade não possui dia atual cadastrado.
    </div>
    <div class="mensagem__erro" *ngIf="errorSevenDays">
        Cidade não encontrada.
    </div>
</section>