body{
    background-image: linear-gradient(to bottom, #352163 ,#331972 ,#33143C) ;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(149, 125, 205),rgba(82, 61, 127));
    border-radius: 15px ;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #352163 ,#331972 ,#33143C) 
}

